body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

#background {
  width: 100%;
  height: 200px;
  position: relative;
}

#header {
  position: relative;
  text-align: center;
  color: #f4f0f0;
}

#stationsList {
  position: absolute;
  display: flex;
  width: 100%;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.Nav div{
   width: 8%;
   border-radius: 10px;
   transition: background-color 2s, font-size 3s;
}

.Nav div:hover {
  font-size: 25px;
  background-color: #f05015;

}

.Nav {
  display: flex;
  justify-content: space-evenly;
}

.trains {
  display: flex;
  flex-direction: row;
}

.direction {
  margin-left: 5%;
}




