body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

#background {
  width: 100%;
  position: absolute;
}

#header {
  position: relative;
  text-align: center;
  color: #000;
}
